body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(243, 241, 237);
    display: grid;
    margin: 0;
    place-items: center;
}

.container {
    height: 80%;
    width: 60%;
}

.menu {
   color: blue;
   background-color: whitesmoke; 
}

.dropbtn {
    background-color: rgb(132, 0, 255);
    color: white;
    padding: 15px;
    font-size: 15px;
    border: solid;
    cursor: pointer;
}

/* The .dropdown class uses position:relative, 
which is needed when we want the dropdown content to be placed 
right below the dropdown button (using position:absolute). */

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(2, 68, 68);
}

.dropDownMenu {
    position: relative;
    display: inline-block;
}


/* dropdown links hidden by default */
.dropDownLinks {
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 100%;
    /* enables scroll on small screens */
    overflow: auto; 
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDownLinks a {
    color: rgb(57, 0, 65);
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

.dropDownLinks a:hoover {
    background-color: pink;
}

/*Using js to add this class for .dropDownLinks when user clicks on drpDownbtn */
.show {
    display: block;
}

/*Module using collapsing tab*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    border-top: 10px solid blue;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
}

#main-tabs {
    display: flex;
    justify-content: space-between;
}

#main-tabs>li {
    font-size: 12px;
    color: gray;
    font-weight: 600;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border: 1px solid gray;
    }

    #extraLI {
        position: relative;
        flex: 1;
    }

    #extra-tabs {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: calc(100% + 1px);
        padding: 5px 0;
        z-index: 1;
        width: 100%;
        gap: 1em;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 150ms ease-in-out, 
    transform 150ms ease-in-out;
        box-shadow: 1px 1px 2px black;
        pointer-events: none;
    }

    #main-tabs li:hoover {
        background-color: rgb(132, 0, 255);
    }

    #extra-tabs li{
        padding: 5px 0;
    }

    #extra-tabs.display-dropdown,
    #extraLI:hover #extra-tabs {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }